<section class="case {{this.model.id}} grid side-padding-30">
  <header class="cell flex space-between align-center margin-bottom-10vh">
    <h2>{{this.model.title}}</h2>
    {{#link-to "cases" class="inactive"}}
      <div class="exit-button-container fixed">
        <div class="exit-button">
        </div>
      </div>
    {{/link-to}}
  </header>

  <div class="text-container cell">
    <div class="description margin-bottom-30">
      <p>{{this.model.description}}</p>
    </div>
    <div class="learn margin-bottom-30">
      <h3 class="margin-bottom-15">What did I learn</h3>
      <ul class="dashed-list">
        {{#each this.model.learn as |instance|}}
          <li class="margin-bottom-10">{{instance}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="different margin-bottom-30">
      <h3 class="margin-bottom-15">What would I do differently</h3>
      <ul class="dashed-list">
        {{#each this.model.different as |instance|}}
          <li class="margin-bottom-10">{{instance}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="links margin-bottom-30">
      <a class="margin-bottom-10 strong" target="_blank" rel="noopener" href={{this.model.website}}>Visit Website</a>
      <a target="_blank" rel="noopener" href={{this.model.repository}} class="strong">View Repository</a>
    </div>
  </div>

  <div class="monitor-image-container cell margin-bottom-30">
    <img src="/assets/images/cases/monitors/monitor-{{this.model.id}}.png" alt="Monitor image of {{this.model.title}}">
  </div>

  <div class="buttons-container cell flex align-center">
    {{#unless this.model.first}}
      {{#link-to "cases.show" this.model.previous class="direction-button previous"}}
      {{/link-to}}
    {{/unless}}

    {{#unless this.model.last}}
      {{#link-to "cases.show" this.model.next class="align-right direction-button"}}{{/link-to}}
    {{/unless}}
  </div>

</section>
