<Navigation/>
<section class="case {{this.model.id}} grid space-between">
  <header class="cell from-2 to-12 flex space-between align-center">
    <h2>{{this.model.title}}</h2>
    {{#link-to "cases" class="inactive"}}
      <div class="exit-button-background">
        <img src="/assets/images/invert-x.png" alt="exit button">
      </div>
    {{/link-to}}
  </header>

  <div class="text-container cell from-2 to-7">
    <div class="description">
      <p>{{this.model.description}}</p>
    </div>
    <div class="learn">
      <h3>What did I learn</h3>
      <ul class="dashed-list">
        {{#each this.model.learn as |instance|}}
          <li>{{instance}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="different">
      <h3>What would I do differently</h3>
      <ul class="dashed-list">
        {{#each this.model.different as |instance|}}
          <li>{{instance}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="links">
      <a target="_blank" href="{{this.model.website}}">Website</a>
      <a target="_blank" href="{{this.model.repository}}">Repository</a>
    </div>
  </div>

  <div class="monitor-image-container cell from-8 to-12">
    <img src="/assets/images/monitor-{{this.model.id}}.png" alt="Monitor image of {{this.model.title}}">
  </div>

  <div class="buttons-container cell from-2 to-12 flex align-center">
    {{#unless this.model.first}}
      {{#link-to "cases.show" this.model.previous class="button"}}Previous{{/link-to}}
    {{/unless}}

    {{#unless this.model.last}}
      {{#link-to "cases.show" this.model.next class="align-right button"}}Next{{/link-to}}
    {{/unless}}
  </div>

</section>
