<section class="case {{this.model.id}} grid space-between side-padding-30">
  <header class="cell from-2 to-12 flex space-between align-center margin-bottom-30">
    <h2>{{this.model.title}}</h2>
    {{#link-to "cases" class="inactive exit-link"}}
      <div class="exit-button-background">
        <img src="/assets/images/invert-x.png" alt="exit button">
      </div>
    {{/link-to}}
  </header>

  <div class="text-container cell from-2 to-7">
    <div class="description margin-bottom-30">
      <p>{{this.model.description}}</p>
    </div>
    <div class="learn margin-bottom-30">
      <h3 class="margin-bottom-15">What did I learn</h3>
      <ul class="dashed-list">
        {{#each this.model.learn as |instance|}}
          <li class="margin-bottom-10">{{instance}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="different margin-bottom-30">
      <h3 class="margin-bottom-15">What would I do differently</h3>
      <ul class="dashed-list">
        {{#each this.model.different as |instance|}}
          <li class="margin-bottom-10">{{instance}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="links margin-bottom-30">
      <a class="margin-bottom-10" target="_blank" rel="noopener" href={{this.model.website}}>Website</a>
      <a target="_blank" rel="noopener" href={{this.model.repository}}>Repository</a>
    </div>
  </div>

  <div class="monitor-image-container cell from-8 to-12 margin-bottom-30">
    <img src="/assets/images/monitor-{{this.model.id}}.png" alt="Monitor image of {{this.model.title}}">
  </div>

  <div class="buttons-container cell from-2 to-12 flex align-center">
    {{#unless this.model.first}}
      {{#link-to "cases.show" this.model.previous class="button"}}Previous{{/link-to}}
    {{/unless}}

    {{#unless this.model.last}}
      {{#link-to "cases.show" this.model.next class="align-right button"}}Next{{/link-to}}
    {{/unless}}
  </div>

</section>
